.wrapper {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}

.img {
    border-radius: 8px;
    margin-top: 20px;
}

.divText {
    width: 400px;
}

.subtitle {
    margin-left: 44px;
    color: #2b7ba7;
    font-size: 20px;
}

.title {
    color: #2b7ba7;
}

.list {
    display: flex;
    gap: 10px;
}

.link {
    margin-top: 20px;
    color: #2b7ba7;
    font-size: 18px;
    font-weight: bold;
    outline: 1px solid #ffffff;
    border-radius: 50px;
    padding: 4px;
    width: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.link:hover {
    outline: 2px solid #ffffff;
}

.activeLink {
    color: rgb(192, 167, 25);
}