.wrapper {
    display: flex;
    flex-direction: column;
    gap: 66px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.wrapText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img {
    border-radius: 12px;
    box-shadow: 6px 5px 3px rgba(156, 156, 145, 0.486);
}

.navTitle {
    margin-bottom: 20px;
    color: #2b7ba7;
    font-size: 18px;
}

.subtitle {
    margin-bottom: 6px;
    color: #78adca;
    font-size: 18px;
}

.title {
    color: #2b7ba7;
    font-size: 26px;
}

.div {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 26px;
}

.list {
    display: flex;
    gap: 12px;
}



.link {
    color: #78adca;
    font-size: 18px;
    font-weight: bold;
    outline: 1px solid #ffffff;
    border-radius: 50px;
    padding: 4px;
    width: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.bag {
    margin-top: 20px;
    color: #2b7ba7;
}

.link:hover {
    outline: 2px solid rgb(192, 167, 25);
}

.activeLink {
    color: rgb(192, 167, 25);
}

@media (min-width: 820px) {
    .wrap {
        flex-wrap: nowrap;
        gap: 80px;
        justify-content: space-between;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 24px;
    }
}