.div {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    align-items: center;
    justify-content: center;
}

.input {
    font-size: 16px;
    padding: 9px 20px;
    border-radius: 8px;
    width: 300px;
    color: #2b7ba7;
    outline: 1px solid #2b7ba7;
    border: none;
    background-color: #dddcdc;
    font-weight: bold;
    letter-spacing: 1px;
}

.input::placeholder {
    color: #5b7b8d;
}

.button {
    color: #2b7ba7;
    font-size: 18px;
    font-weight: bold;
    outline: 1px solid #ffffff;
    border-radius: 10px;
    background: transparent;
    border: none;
    padding: 7px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.button:hover,
.button:active {
    outline: 2px solid rgb(192, 167, 25);
}

@media (min-width: 820px) {
    .input {
        width: 400px;
    }
}