:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  padding: 32px;
  padding-top: 16px;
  margin: 0;
  background-color: #142030;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  display: block;
}

.loading {
  margin-top: 160px;
  text-align: center;
  font-size: 50px;
  color: #8cadee;
}

* {
  margin: 0;
  padding: 0;
}